@import "../home-page/home-page.component";

.wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 20px;
}

.form-ck {
  margin-top: 35px;
}

.action-btn {
  display: flex;
  justify-content: space-between;
}

