<div class="action">
  <h1>{{title}}</h1>
  <div class="bonjour">
    <button class="btn btn-secondary" (click)="openCreateForm()">Create new</button>
  </div>
</div>
<table class="table datatable-striped table-hover shadow-4 ">
  <thead>
  <tr class="row-header bg-secondary">
    <th *ngFor="let col of columns" class="head-table">
      {{col}} <span><i class=" fas fa-arrow-up"></i></span>
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products$ ">
    <td *ngFor="let ind of index">
      <ng-container *ngIf="isNumber(product[ind]);else displayOther">
        {{product[ind] | number}}
      </ng-container>
      <ng-template #displayOther>
        {{product[ind]}}
      </ng-template>
    </td>
    <td>
      <div class="action-list">
        <a [routerLink]="['/edit', product.id]" class="link"><i class="fas fa-edit"></i></a>
        <a [routerLink]="['/detail', product.id]" class="link"> <i class="fas fa-eye"></i></a>
        <button (click)="deleteProduct(product)"
                class="btn btn-ck btn-secondary"><i class="fas fa-trash-alt"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<app-pagination [numberOfPages]="10"></app-pagination>



