@mixin action-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}

.row-header {
  font-size: 0.94em;
  color: #fff;
  text-align: center;
}

.action {
  @include action-header;
}

.link {
  font-weight: 600;
  color: #7c4dff;
  font-size: 1.1em;
  margin-right: 10px;
}

.btn-ck {
  padding: 0.625rem 0.8rem 0.5rem 0.8rem;
  margin-left: 5px;
}

.link-light {
  cursor: pointer;
}

form {
  width: 40%;
}

//.row-header {}
