@import "../../assets/scss/free/variables";

@mixin action-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}

.row-header {
  color: #fff;
  font-size: 0.94em;
  text-align: center;
}

.action {
  @include action-header;
}

.link {
  font-weight: 600;
  color: $deep-purple-accent-200;
  font-size: 1.1em;
  margin-right: 15px;
}

.btn-ck {
  padding: 0.625rem 0.8rem 0.5rem 0.8rem;
  margin-left: 5px;
}

//.row-header {}
