<div class="action justify-content-evenly ">
  <h2>{{title}}</h2>
</div>
<ng-container *ngIf="!available;else reveal">
  <button class="btn btn-dark" (click)="goBack()">Go back</button>
</ng-container>
<ng-template #reveal>
  <div class="wrapper">
    <form class="form-group" [formGroup]="formGroup">
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput [readonly]="true"
                 id="id" class="form-control"
                 formControlName="id"/>
          <label mdbLabel class="form-label" for="id">ID: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput type="date" id="date" class="form-control"
                 formControlName="Date"
                 [value]="Date.value| date:'yyyy-MM-dd' "/>
          <!--          <label mdbLabel class="form-label" for="date">Date</label>-->
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <label for="RegionName" mdbLabel>Region Name: </label>
        <select name="RegionName" formControlName="RegionName"
                class="select-input"
                id="RegionName">
          <option *ngFor="let option of regionNameOptions" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput type="text"
                 [readonly]="true"
                 [value]="Area.value"
                 id="area" class="form-control"
                 formControlName="Area"/>
          <label mdbLabel class="form-label" for="area">Area</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput type="text"
                 [readonly]="true"
                 [value]="AreaCode.value"
                 id="areaCode" class="form-control"
                 formControlName="AreaCode"/>
          <label mdbLabel class="form-label" for="areaCode">AreaCode</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="AveragePrice.value | number"
                 id="averagePrice" class="form-control"
                 formControlName="AveragePrice"/>
          <label mdbLabel class="form-label" for="averagePrice">AveragePrice</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput type="text"
                 [value]="SalesVolume.value | number"
                 id="salesVolume" class="form-control"
                 formControlName="SalesVolume"/>
          <label mdbLabel class="form-label" for="salesVolume">Sale Volume</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="Index.value | number"
                 id="index" class="form-control"
                 formControlName="Index"/>
          <label mdbLabel class="form-label" for="index">Index</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="DetachedPrice.value | number"
                 id="detachedPrice" class="form-control"
                 formControlName="DetachedPrice"/>
          <label mdbLabel class="form-label" for="detachedPrice">DetachedPrice</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="DetachedIndex.value | number"
                 id="detachedIndex" class="form-control"
                 formControlName="DetachedIndex"/>
          <label mdbLabel class="form-label" for="detachedIndex">DetachedIndex</label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="SemiDetachedPrice.value | number"
                 id="semiDetachedPrice" class="form-control"
                 formControlName="SemiDetachedPrice"/>
          <label mdbLabel class="form-label" for="semiDetachedPrice">SemiDetached Price: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="SemiDetachedIndex.value | number"
                 id="semiDetachedIndex" class="form-control"
                 formControlName="SemiDetachedIndex"/>
          <label mdbLabel class="form-label" for="semiDetachedIndex">SemiDetached Index: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="FlatPrice.value | number"
                 id="flatPrice" class="form-control"
                 formControlName="FlatPrice"/>
          <label mdbLabel class="form-label" for="flatPrice">Flat Price: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="FlatIndex.value | number"
                 id="flatIndex" class="form-control"
                 formControlName="FlatIndex"/>
          <label mdbLabel class="form-label" for="flatIndex">Flat Index: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="TerracedPrice.value | number"
                 id="terracedPrice" class="form-control"
                 formControlName="TerracedPrice"/>
          <label mdbLabel class="form-label" for="terracedPrice">Terraced Price: </label>
        </mdb-form-control>
      </div>
      <div class="form-ck">
        <mdb-form-control>
          <input mdbInput
                 [value]="TerracedIndex.value | number"
                 id="terracedIndex" class="form-control"
                 formControlName="TerracedIndex"/>
          <label mdbLabel class="form-label" for="terracedIndex">Terraced Index: </label>
        </mdb-form-control>
      </div>
      <div class="action-btn">
        <button class="btn btn-secondary" type="submit"
                (click)="openPopUpwithObject(formGroup,'Update Product',
          'Update this product ','update')">Update
        </button>
        <button type="button" class="btn btn-danger"
                (click)="openPopUpwithObject(formGroup,
          'Reset Form','Are you sure to reset all ?',
          'reset')">
          Reset
        </button>
        <button type="button" class="btn-dark btn"
                (click)="openPopUpwithObject(formGroup,'Cancel',
              'Are you sure to cancel ?', 'cancel')">
          Cancel
        </button>
      </div>
      <!--      <p>{{formGroup.value | json}}</p>-->
    </form>
  </div>
</ng-template>
